[build]
  functions = "netlify/functions"
  publish = "build"

[functions]
  node_bundler = "esbuild"
  included_files = ["src/**/*"]
  external_node_modules = ["@supabase/supabase-js", "bcrypt", "cookie", "uuid", "zod"]
  
[dev]
  command = "npm run start"
  targetPort = 3000
  port = 8888
  publish = "build"
  functions = "netlify/functions"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200
